.config/rclone/

.config/google-chrome/
.config/discord/

.config/Code/User/workspaceStorage/

.config/Code/CachedExtensionVSIXs/
.config/Code/User/workspaceStorage/

.config/google-chrome/
.config/discord/
.config/rclone/

.config/discord/
.config/google-chrome/
.config/rclone/

.config/Code/CachedExtensionVSIXs/
.config/Code/User/workspaceStorage/

.git/
