window {
  background-color: transparent;
}

.dock {
  background-color: rgba(30, 30, 30, 0.25); /* 半透明 */
  border-radius: 20px;
  padding: 10px 16px;
  display: flex;
  gap: 14px;
  backdrop-filter: blur(12px); /* 見た目ガラス風 */
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
